#element{
    float: right;
     border: 2px solid black; 
     width: 250px; 
     height: 30px;
     text-align: center;
}
#box{
    width:200px;
    height:200px ;
     border: 2px solid black;
    float: right;
}